
.listing {
    font-weight: bold;
}

.figure-caption {
    font-weight: bold;
    font-size: var(--bs-body-font-size);
    text-align: center;
}

.resources {
  margin: 1em 0;
  border: 2px solid gray;
  border-left: 10px solid teal;
  border-radius: 10px;
}

.resources-header {
  margin-left: 0;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: rgb(123, 173, 173);
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("img/icons8/books-48.png");
}

.resources-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}



.example {
  margin: 1em 0;
  border: 2px solid gray;
  border-left: 10px solid #36648B;
  border-radius: 10px;
}

.example-header {
  margin-left: 0;
  padding-left:  60px;
  padding-top:  5px;
  padding-bottom: 0.1em;
  color: white;
  background-color: #5CACEE;
  border-top-right-radius: 10px;
  font-size: 1em;
  font-weight: bold;
  background-size: 40px;
  background-repeat: no-repeat;
  background-position: 15px center;
  background-image: url("img/icons8/pencil-40.png");
}

.example-container {
  padding-top: 5px;
  padding-left: 10px;
  color: black;
  background-color: white;
  border-bottom-right-radius: 10px;
}
